.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #a785eb;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover{
    background: #43A047;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #a785eb;
    color: #fbfff8;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    width: 500px ;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    width: 100px ;
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    width: 100px ;
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}
tr:last-child td:first-child {
    width: 100px;
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    width: 100px;
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    width: 100px;
    border-right: none;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
